.Row {
  color: white;
  margin-left: 20px;
}

.RowPosters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.RowPosters::-webkit-scrollbar {
  display: none;
}

.RowPoster {
  object-fit: contain;
  width: 100%;
  max-height: 135px;
  margin-right: 10px;
  transition: transform 450ms;
}

.RowPoster:hover {
  transform: scale(1.08);
}

.RowPosterLarge {
  max-height: 275px;
}

.RowPosterLarge:hover {
  transform: scale(1.09);
}
